.App{
    text-align: center;
    font-family: 'Markazi text', serif;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* .entrance{
    display: block;
    width: 100vw;
    height: auto;
    max-width: 100%;
} */
.navBar{
    /* background-image: url('./assets/images/NavBack.png');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0;
}
.nav-list{
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 30px;
    margin: 0;
}
.navBar img{
    height: 80px;
    width: 180px;
}
.navBar a{
    color: rgb(165, 45, 45);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.info{
    color: black
}

.contact-list{
    list-style: none;
    padding: 0;
}
.special-section{
    background-color: #da596a;
}
.specials_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    padding: 0px 200px 50px;
    margin: 0px 200px 20px;
}
.lemon_dessert{
    height: 200px;
    width: 200px;
    border-radius: 4%;
}
.greek {
    height: 200px;
    width: 200px;
    border-radius: 4%;
}
.pasta {
    height: 200px;
    width: 200px;
    border-radius: 4%;
}
.your_thoughts{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 12px;
    place-content: center;
    padding: 5px 0px 5px;
    margin: 5px 0px 5px;
    background-color: rgb(40, 142, 201);
}
.customer1, .customer2, .customer3, .customer4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid rgb(161, 21, 21);
}

.header{
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    place-content: center;
    gap: 80px;
    background-color: #8fb844;
}
.header-info{
    display: grid;
}

.header-info p{
    text-align: left;
    margin: 0px 40px 0px ;
    max-width: 400px;
 }
 .main_reserve{
    background-color: #F4CE14;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
    font-size: 16px;
    margin: 20px 0px 0px 40px;
    cursor: pointer;
 }
