.App{
    text-align: center;
    font-family: 'Markazi text', serif;
    background-color: greenyellow;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.entrance{
    display: block;
    width: 100vw;
    height: auto;
    max-width: 100%;
}
.navBar{
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 30px;
    margin: 0;
}
.navBar img{
    height: 80px;
    width: 180px;
}

header h1{
    color: greenyellow;
}

.info{
    color: black
}

.contact-list{
    list-style: none;
    padding: 0;
}
.lemon_dessert{
    height: 200px;
    width: 200px;
}
.greek {
    height: 200px;
    width: 200px;
}
.specials_container{
    display: grid;
    grid-template-columns: repeat(2, auto);
}